.btn-nav {
  border: 2px solid #2e2e2e;
  border-radius: 0.25rem;
  background-color:rgb(97 97 97);
  box-shadow: 0.25rem 0.25rem 0 0 black;
  color: var(--color-light);
  padding-inline: var(--space-sm);
  text-decoration: none;
  text-transform: uppercase;
}