.btn-nav {
  background-color:rgb(97, 97, 97);
  color: var(--color-light);
  padding-inline: var(--space-sm);
  border: 2px solid #2e2e2e;
  box-shadow: 0.25rem 0.25rem 0 0 black;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.25rem;
}