.codeblock {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  padding: var(--space-md);
  line-height: var(--text-base);
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-tangerine), -0.5rem -0.5rem 0 0 var(--color-green);
}

.codeblock br {
  display: block;
  margin-bottom: var(--space-xs);
}

.codeblock br + br {
  display: block;
  margin-bottom: var(--space-md);
}