.codeblock {
  padding: var(--space-md);
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-tangerine), -0.5rem -0.5rem 0 0 var(--color-green);
  line-height: var(--text-base);
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.codeblock br {
  display: block;
  margin-bottom: var(--space-xs);
}

.codeblock br + br {
  display: block;
  margin-bottom: var(--space-md);
}