html {
  background-color: pink;
}

body {
  background-color: blue;
  padding: var(--space-lg);
}

main {
  max-width: var(--max-width);
  margin-inline: auto;
  background-color: white;
  padding-inline: var(--space-lg);
  padding-block: var(--space-xs);
}
