html {
  background-color: pink;
}

body {
  padding: var(--space-lg);
  background-color: blue;
}

main {
  max-width: var(--max-width);
  background-color: white;
  margin-inline: auto;
  padding-block: var(--space-xs);
  padding-inline: var(--space-lg);
}
