<!doctype html>
<html lang="en">
<head>
  {{ include "partials/head.vto" }}
</head>
<body>
  {{ include "partials/menu.vto" }}
  <main>
    {{ content |> safe }}
  </main>
  {{ include "partials/footer.vto" }}
</body>
</html>
