<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title || "httpster" }}</title>
<link rel="stylesheet" href="/assets/css/style.css">
<script type="module" src="/assets/scripts/script.js?{{ randomHash }}" defer></script>